<%= form_with(model: guest) do |form| %>
  <% if guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
        <% guest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :First_name %>
    <%= form.text_field :First_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :Last_Name %>
    <%= form.text_field :Last_Name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :Email %>
    <%= form.text_field :Email, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :Phone %>
    <%= form.text_field :Phone, class:"form-control" %>
  </div>
<br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
