<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @guest.First_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guest.Last_Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @guest.Phone %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
